<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <!--<link rel="stylesheet" href="{{ "/index.php?/css/main.css"|uncached }}" >-->
</head>
<body style="margin:0; padding:30px; font:12px/1.5 Helvetica,Arial,Verdana,sans-serif;">
    <h1 style="margin:0; font-size:48px; font-weight:normal; line-height:48px;">Test</h1>
    <p style="text-align:justify;">
        This is a test page!
    </p>

    {{ home }}
    {{ dump(app.test) }}

    <p>{{ app.controller }}</p>
    <p>{{ app.debug ? "DEVELOPMENT" : "PRODUCTION" }}</p>

    <p>{{ app.url ~ link("/home") }}</p>
    <p><strong>route: {{ route("test", { name: "ryan" }, { test: 123 }) }}</strong></p>

    <p>{{ attributes.vRoute }}</p>
    <p>{{ dump(attributes.vQuery) }}</p>

    <p>{{ ucrm.user }}</p>

    <p>{{ dump(attributes.vQuery) }}</p>

    {#<pre>{{ dump(attributes) }}</pre>#}
    <p>{{ dump(uri) }}</p>


</body>
</html>
